# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Env files
.env
.env.*
.env.local
.env.production
.env.development

# Virtual environments
.venv/

# Poetry
# poetry.lock (polemico)

# OS
.DS_Store

# IDE
.idea/

# Logs
*.log

# Testing / coverage
.coverage
htmlcov/
.pytest_cache/

# Database (si usas SQLite en tests)
*.db
